@font-face{
    font-family: vazir-b;
    src: url(../font/Vazir-Bold.ttf);
}
body{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 97.9vh;
   background: linear-gradient(to right bottom,#B721FF,#21D4F0) no-repeat;
   justify-items: center;
   /*background: linear-gradient(to right bottom,#fcad6c 15%,#ffd000 50%,#ffa600,#fcad6c) ;
   background: -webkit-linear-gradient(to left top,#ddeaf5 ,white);
   background: -moz-linear-gradient(to left top,#ddeaf5 ,white);*/
}
 .container{
    direction: rtl;
    background:linear-gradient(to left bottom,#f6fcfd,#fafff9);
    background:-webkit-linear-gradient(to right top,#f8f3ff,#edf1ec);
    background:-moz-linear-gradient(to right top,#f8f3ff,#edf1ec);
    border-radius: 25px;
    padding: 35px  60px;
    height:70vh;
    width: 320px;
    justify-items: center;
    align-items: center;
    box-shadow: 3px 4px 10px #838383,-3px -5px 10px #838383;
    display: grid;
    grid-template-rows: repeat(3,1fr);
    grid-template-columns: repeat(1,1fr);
    gap: 100px;
}
 form input{
    border: 2px solid #8a8787;
    font-size: 18px;
    border-radius: 5px;
    padding:10px;
    height: 20px;
    margin-bottom: 40px;
    position: relative;
    bottom: 80px;
}
input[type=text]{
    font-family: vazir;
}
input[type=email]{
    font-size: 14px;
    width: 220px;
    height: 20px;
}
input:focus{
    border-color: #131375;
    outline:#ffffff;
    box-shadow: 2px 4px 6px #aaa9a9;
    border-image: linear-gradient(to right,red,#00e1ff,#0066ff,#3d77f3) 1;
    border-image: -webkit-linear-gradient(to right,red,#00e1ff,#0066ff,#3d77f3) 1;
    border-image: -moz-linear-gradient(to right,red,#00e1ff,#0066ff,#3d77f3) 1;
}
input::placeholder{
    color: #b4b2b2;
    text-align: right;
    font-size: 18px;
}
 input[type=submit]{
     border: none;
    color: white;
    border-radius: 8px;
    width:200px;
    padding: 12px 18px;
    background: linear-gradient(to right bottom,#237a18,#2c9e22,#22d611);
    background: -webkit-linear-gradient(to left top,#237a18,#2c9e22,#22d611);
    background: -moz-linear-gradient(to left top,#237a18,#2c9e22,#22d611);
    position: relative;
    top: 0;
    right: 22px;
    height: 45px;
 }
 input[type=submit]:hover{
    background: linear-gradient(to right bottom,#328d26,#29c01b,#20ec0e);
    background: -webkit-linear-gradient(to left top,#328d26,#29c01b,#20ec0e);
    background: -moz-linear-gradient(to left top,#328d26,#29c01b,#20ec0e);
    cursor: pointer;
 }
 .registers{
     font-family: vazir-b;
     position: relative;
     top:0;
     right: 20px;
     width: 250px;
     font-size: 12px;
 }
 .registers a:link{
     color: #0084ff;
 }
 .registers a:visited{
     color: #8d14ff;
 }
 .registers a:hover{
     color: #2326e2;
 }
 .forget-password{
     display: inline;
     position: relative;
     bottom: 220px;
     font-family: vazir-b;
     font-size: 12px;
     padding: 6px;
     border-radius: 5px;
 }
 .forget-password a{
     text-decoration: none;
     color: #c02d2d;
 }
 .forget-password a:hover{
     color:#d61919 ;
     text-shadow: 1px 2px 4px #ebc6c6;
 }
 @media screen and (max-width:370px) {
    .container{
        min-width: 200px;
        height: 70vh;
        justify-items: center;
    }
    form input{
        position: relative;
        left: 20px;
    }
    input[type=submit]{
        position: relative;
        right: 0;
    }
    .registers{
        position: relative;
        right: 0px;
    }
    .container img{
        position: relative;
        left: 20px;
    }
 }